div.mycontainer{
    width: 100%;
    overflow: auto;
}

div.mycontainer div{
    width: 33%;
    float: left;
}

div-bg1 {
    width:300px;
    margin:auto;
    background-color:orange;
}

.div-bg{
    background-color: green;
}

h1 {
    color: white;
}

h2 {
    color: yellow;
}

.textgreen{
    color: green;
}

.textblue{
    color: blue ;
}

#textpink{
    color: pink;
}

